.contact {
    box-shadow: 1px 2px 3px lightgray;
    padding: 10px;
}

.lab {
    width: 100%;
    font-size: medium;
    font-weight: bolder;
    vertical-align: top;
    text-align: right;
}

.required_symbol {
    font-size: small;
    color: red;
}

.query_take {
    width: 100%;
    text-indent: 5px;
    border: none;
    border-bottom: 1px solid darkgray;
    border-radius: 4px;
    padding: 1%;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit {
    width:100%;
    background-color:lightseagreen;
    color:white;
    box-shadow:3px 3px 3px 3px lightgray;
    font-weight:bolder;
}
