.header_line {
    padding: 1% 0;
    margin: 1% 0;
    border-bottom: 2px solid rgb(95, 99, 95);
}

.form_header {
    color: rgb(30, 30, 138);
    font-size: larger;
    font-weight: bolder;
}
.info_badge {
    margin-top: -1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
.block_view{
    margin-top: 2%;
}

label {
    font-size: medium;
    font-weight: bolder;
    width: 40%;
    vertical-align: top;
}

.required_symbol {
    font-size: small;
    color: red;
}

.input_take {
    width: 50%;
    float: right;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1%;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input_take_cls {
    width: 100%;
    float: left;
}

hr {
    border: 1px solid grey;
}

.submit_btn  {
    text-align: center;
    margin: 2%;
}

.register {
    background-color: rgba(216, 152, 14, 0.856);
    color: white;
    font-weight: bolder;
    padding: 1% 2%;
    box-shadow: 2px 2px 2px 2px white;
}

.register:hover {
    color: white;
    box-shadow: 2px 2px 2px 2px grey;
}