.ForgotPasswordForm {
    padding: 2%;
    background-color: rgb(194, 192, 192);
    box-shadow: 2px 2px rgb(100, 98, 98);
    margin-top: 2%;
}

.forgot_password_title {
    padding-bottom: 1%;
    color: black;
}