.forgot_password_title {
    padding-bottom: 1%;
    color: black;
}

#email_link {
    width: 90%;
    padding: 1% 2%;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;    
}