.FreeTestForm {
    padding: 5px 5px;
    margin-top: 3%;
    background-color: #107cd4f5;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(202, 198, 198);
}

.ff {
    padding: 2%;
}

.inside {
    padding: 1%;
}

.free_test_title {
    width: 100%;
    color: white;
    border-bottom: 1px solid wheat;
    font-size: larger;
    font-weight: bolder;
}

.mobile-block, .otp-block {
    margin-top: 2%;
    vertical-align: middle;
}

.otp_label, .email_label {
    width: 100%;
    padding: 1%;
    color: white;
    margin: 5px 0;
}


#email_number, #otp {
    padding: 2%;
    text-align: center;
    border: 1px solid white;
    border-radius: 1px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

#otp_btn, #login_btn {
    text-align: center;
    border: 2px solid white;
    color: white;
    width: 80%;
    margin: 1% 0;
    border-radius: 4px;
    font-weight: bolder;
}

#otp_btn:hover {
    background-color: white;
    color: blue;
}

#login_btn:hover {
    background-color: white;
    color: teal;
}