.FreeTestForm {
    padding: 5px 5px;
    margin-top: 3%;
    background-color: #107cd4f5;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(202, 198, 198);
}

.free_test_title {
    width: 100%;
    color: white;
    border-bottom: 1px solid wheat;
    font-size: larger;
    font-weight: bolder;
}

.otp_label, .email_label {
    width: 100%;
    padding: 1%;
    /* font-style: italic; */
    color: white;
    margin: 5px 0;
}

.ff {
    margin-top: 1%;
    padding: 5px;
}

#email_number, #otp {
    padding: 1% 2%;
    border: 1px solid rgb(238, 232, 232);
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

#otp_btn,#login_btn {
    text-align: center;
    border: 2px solid white;
    color: white;
    width: 80%;
    margin: 8px 0;
    border-radius: 4px;
}
