.content_home {
    margin-top: 1% 0;
}

.Navigation {
    box-shadow: 2px 2px 2px 2px rgb(196, 196, 196);
}

#basic-nav-dropdown {
    font-weight: bold;
    color: grey;
    border-bottom: 2px solid rgba(223, 222, 222, 0.0);
}

#basic-nav-dropdown:hover {
    color: teal;
    border-bottom: 2px solid teal;
}

#basic-nav-dropdown:active{
    color: rgb(185, 169, 24);
}
