.flag {
    width: 100%;
    height: 175px;
    margin: 0;
    padding: 0;
}

.modatent {
    margin: auto;
    display: block;
    width: 100%;
    height: 75%;
    max-width: 1000px;
}
.modalimg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 700px){
    .modatent {
        width: 100%;
        height: 300px;
    }
}
