.LogInForm {
    padding: 20px;
}

.login_title {
    border-bottom: 1px grey solid;
    width: 250px;
    font-weight: bolder;
}

.login {
    margin-top: 4%;
}

.create {
    width: 250px;
}

span {
    display: inline;
}