.LogInForm {
    padding: 5%;
    width: 100%;
    margin-top: 5%;
    box-shadow: 4px 4px 4px 4px black;
}

.login_title {
    border-bottom: 1px grey solid;
    font-size: large;
    font-weight: bolder;
}

.login {
    padding: 1%;
}

.username-block, .password-block {
    margin-top: 5%;
}

.username, .password {
    text-align: left;
    color: black;
    font-size: large;
}

.password_input, .username_input {
    text-indent: 4%;
}

.error {
    color: red;
    font-size: xx-small;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#username, #inputPassword {
    text-align: center;
    border: 1px solid black;
    padding: 1%;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
}

#login_button {
    color: white;
    padding: 1% 5%;
    margin: 1%;
    border: 2px solid white;
    background-color: teal;
    /* font-weight: bolder; */
}

#login_button:hover {
    color: teal;
    background-color: white;
    border: 2px solid teal;
}

#fp_button {
    color: white;
    padding: 1% 5%;
    margin: 1%;
    border: 2px solid white;
    background-color: rgb(224, 1, 1);
    /* font-weight: bolder; */
}

#fp_button:hover {
    color: red;
    background-color: white;
    border: 2px solid red;  
}

.create {
    width: 99%;
    font-weight: bolder;
    border: 2px solid rgb(255, 255, 255);
}

.create:hover {
    color: rgb(5, 165, 149);
    background-color: white;
    border: 2px solid rgb(5, 165, 149);
}

span {
    display: inline;
}