.LogInForm {
    padding: 10px;
    margin-top: 5%;
    box-shadow: 4px 4px 4px 4px black;
}

.login_title {
    border-bottom: 1px grey solid;
    width: 100%;
    font-size: large;
    font-weight: bolder;
}

.username, .password {
    margin-top: 2%;
    color: black;
    font-size: large;
}

#username, #inputPassword {
    padding: 2% 5%;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.login {
    margin-top: 1%;
}

.create {
    width: 97%;
}

span {
    display: inline;
}